<div class="chat-message mb-3">
    <div class="d-flex">
        <div class="flex-shrink-0">
            <img src="https://via.placeholder.com/32" class="rounded-circle" alt="avatar">
        </div>
        <div class="flex-grow-1 ms-3">
            <div class="small text-muted"><%= message.role %></div>
            <div class="p-2 m-2 rounded bg-light"><%= message.content %></div>
        </div>
    </div>
</div>