<div class="chat-message mb-3">
    <div class="d-flex">
        <div class="flex-shrink-0">
            <img src="https://via.placeholder.com/32" class="rounded-circle" alt="avatar">
        </div>
        <div class="flex-grow-1 ms-3">
            <span class="small text-muted"><%= message[:role] %></span>
            <span class="rounded bg-light"><%= message[:content] %></span>
        </div>
    </div>
</div>