<div class="container p-2">
  <div class="row">
    <% @agents.each do |agent| %>
        <div class="col-md-4 mb-4">
            <div class="card">
            <img src="https://via.placeholder.com/150" class="card-img-top" alt="<%= agent.name %>">
            <div class="card-body">
                <h5 class="card-title"><%= agent.name.humanize %></h5>
                <p class="card-text">Description of the agent goes here.</p>
                <%= link_to "Go to", agent_path(agent), class: "btn btn-primary" %>
            </div>
            </div>
        </div>
    <% end %>
  </div>
</div>
