<div>
  <h1 class="font-bold text-4xl">Pages#home</h1>
  <p>Find me in app/views/pages/home.html.erb</p>
</div>

<h1 class="text-5xl font-bold underline">
  Hello world!
</h1>

<i class="fa-regular fa-circle-user fa-beat fa-2x"></i>
<i class="fa-solid fa-circle-user fa-beat fa-2x"></i>