<p style="color: green"><%= notice %></p>

<% content_for :title, "Conversations" %>

<h1>Conversations</h1>

<div id="ai_conversations">
  <% @ai_conversations.each do |ai_conversation| %>
    <%= render ai_conversation %>
    <p>
      <%= link_to "Show this conversation", ai_conversation %>
    </p>
  <% end %>
</div>

<%= link_to "New conversation", new_ai_conversation_path %>
