<% content_for :title, "New conversation" %>

<h1>New conversation</h1>

<%= render partial: "form", locals: { conversation: @conversation, agent: @agent } %>

<br>

<div>
  <%= link_to "Back to conversations", :back %>
</div>
