<% content_for :title, "New conversation" %>

<h1>New conversation</h1>

<%= render partial: "form", locals: { ai_conversation: @ai_conversation, ai_agent: @ai_agent } %>

<br>

<div>
  <%= link_to "Back to conversations", :back %>
</div>
