@import 'application.bootstrap';
@import 'trix/dist/trix';
@import 'actiontext';
@import 'ai_agents';
@import 'conversations';

trix-editor {
    &.form-control {
        min-height: 20em;
        max-height: 20em;
        height: auto;
        overflow-y: scroll;
    }
}