@import 'application.bootstrap';
@import 'actiontext.css';
@import 'trix/dist/trix.css';
@import 'ai_agents';
@import 'conversations';

trix-editor {
    &.form-control {
        min-height: 20em;
        max-height: 20em;
        height: auto;
    }
}